.phead {                             
  background-color: #1A3E59;
  color: white;
}

/* (تنسيق اللوغو للجامعة)*/
.logo1 {
  display: flex;
  justify-content: flex-end;
}
.logo {
  max-width: 100%;
  height: 150px;
  margin: -60px 5px 10px;
}

/* تنسيق image */
.H-header {
  background-size: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0px;
  height: 300px;
  width: fit-content; 
} 

/* تنسيق ازرار الصفحات */
.H_buttons {
  color: white;
  background-color: #1A3E59;
  padding: 10px 20px;
  text-align: left;
  display: inline-block;
  font-size: 20px;
  margin: 10px 10px;
  cursor: pointer;
  text-decoration: none;
}

/* تنسيق الشعار تحت لوغو المكتبة */
.title {
  color: white;
  background-color: #1A3E59;
  text-align: center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.title_r {
  
  text-align: center;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/* تنسيق tables */
table {
  align-items: center;
  border-collapse: collapse;
  border-color: #000000;
  width: 75%;
}

/* تنسيق td, tr, th for all tables */
th, td, tr {
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  direction: rtl;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
}

/* تنسيق الصورة في اول الصفحة الرئيسية */
.A-header {
  background-size: 100%;
  margin: auto;
  display: block;
  width: 300px;
  background-attachment: scroll;  
}

/* تنسيق وصف عام عن المكتبة */
.A-YE1 {
  color: black;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  direction: rtl;
  font-size: 35px;
}

/* تنسيق وصف عام عن المكتبة */
.A-YE {
  color: black;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: right;
  direction: rtl;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: justify;
  padding: 0px 50px;
}

/* تنسيق زر التفاصيل */
.toggleDetails {
  color: white;
  background-color: #1A3E59;
  padding: 8px 12px;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
}

/* لاخفاء التفاصيل */
.hidden {
  display: none;
}

/* استكمال تنسيق الرمز اسم الكتاب*/
.phead {
  background-color: #F2F7FA;
  color:black;
  font-weight: bolder;
  font-size: 15px;
}

/* تنسيق جدول الكتب */
table tr table tr td {
  font-size: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #1A3E59;
  font-family: Arial, Helvetica, sans-serif;
}

/* تنسيق صور الكتب في الجدول */
table tr table tr td img {
  height: 250px;
  padding: 8px;
}

/* تنسيق جدول الكتب */
table tr td {
  font-size: 25px;
}

.j_buttons {
  color: white;
  background-color: #1A3E59;
  padding: 8px 15px;
  text-align: right;
  display: inline-block;
  font-size: 20px;
  margin: 8px 8px;
  cursor: pointer;
  text-decoration: none;
}

/* تخصيص للشراء */
#purchase-form {
  max-width: 450px;
  margin: 0 auto;
  border-style: solid;
  border-color: #1A3E59;
}

form {
  display: grid;
  gap: 10px;
}

/* تغميق الخط */
label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

/* تخصيص تسمية وحقل الإدخال في نموذج الشراء */
label, input {
  display: block;
}

/* تخصيص الهوية، "purchase-form" */
#purchase-form {
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* تخصيص الرسائل التنبيهية */
.alert {
  padding: 20px;
  background-color: #F44336;
  color: white;
  margin-bottom: 15px;
}

/* زر الإرسال */
.btn-send3 {
  border: 0;
  color: #F1E9E9;
  font-size: 20px;
  background-color: #1A3E59;
  border-radius: 40px;
  padding: 8px 50px;
  cursor: pointer;
}

/* زر تغيير الرمز */
.btn-send2 {
  border: 0;
  color: #F1E9E9;
  font-size: 20px;
  background-color: #1A3E59;
  border-radius: 40px;
  padding: 8px 50px;
  cursor: pointer;
}
  